<div class="chat-box">
  <div class="chat-box-main-window">
    <div class="chat-messages">
      <div class="chat-message" ng-repeat="message in messages track by $index">
        <strong>{{message.username}}</strong>: {{message.body}}
      </div>
    </div>
  </div>
  <div class="chat-user-list">
    <ul>
      <li ng-repeat="user in users">{{ user.info.username }}</li>
    </ul>
  </div>
  <form ng-submit="sendMessage()">
    <input ng-model="currentMessage.body"
           class="chat-input"
           placeholder="Enter your message...">
  </form>
</div>
